name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  # needed to stop rate limiting of compact download.
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  install-and-test:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
      statuses: write
    steps:
      - name: Scan code
        uses: midnightntwrk/upload-sarif-github-action@giles-scan-action
